.bg {
  background-image: url("https://s3-alpha-sig.figma.com/img/5ebd/fe7b/e2fde55797c68695d1732f95187904c1?Expires=1664150400&Signature=BN4dY4CDqP15mY~b-Zwhzfc7TmaoCVuVJ6kiD6wfoxebPF5iDmIYe5V-Ur9BgZXf9PA08oHaQR-tGdMJXh3rMiqoD4FY5AX8kqMCyBCmcyJu5Xct2HLsgwyUL0OVODlJRtxYnmPdqnAsA2gDgxM3YgziNvoKeWe~fjlj9sXdQ-dWEvP1V5Lp6RJJ89RZiMtWUKhrFTo~8DwYIuER0pieXA1c6yzCfnhP-oTOh0YKotCBB7Gzh2URl8G8P7VfjKPtcBgWDnWXGsP7lxfWK5znUKfvklz7adNRzGzNIUKectxv88qcNEVeULw3ZRT8Fhuf0bq0~BZ3IHZ2OAaQdtxJTg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.box {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 898px;
  top: 172px;
  background: linear-gradient(
    105.53deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  box-shadow: 0px 4px 24px rgba(18, 18, 18, 0.15);
  backdrop-filter: blur(12.5px);
  border-radius: 15px;
  padding-left: 9px;
}

.header {
  width: 185px;
  margin-top: 14px;
  margin-bottom: -22px;
}

.title {
  width: 185px;
  padding-left: 20px;
  margin-bottom: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: #000000;
}

.email,
.password {
  margin: 20px 20px -10px 20px;
  color: #717274;
  font-size: 15px;
}

.input {
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: #e4eef5;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}
.forgot {
  width: 108px;
  height: 25px;
  left: 2010px;
  top: 475px;
  margin-top: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  padding-left: 233px;
  color: #e51058;
}

.button {
  width: 310px;
  height: 42px;
  margin-left: 22px;
  margin-top: 9px;
  border-color: #e51058;
  background: #e51058;
  border-radius: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.account {
  width: 160px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.signup {
  width: 63px;
  height: 20px;
  left: 1019px;
  top: 624px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #e51058;
}

.error {
  font-family: "Montserrat";
  font-size: 15px;
  color: #e51058;
  margin-top: -1px;
}

.label {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #717274;
}

.label1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #717274;
}
